@media (max-width: 768px) {

    .h1-stacks {
        margin-left: auto;
        margin-right: auto;
    }

    .card-list {
        margin-left: 5.6%;
        margin-right: auto
    }

    #list-cards {
        max-width: 100%;
        height: auto;

    }

    .experiencias {
        max-width: 100%;
    }
    

    .experiencias p {
        max-width: 100%;
    }

    .experiencias img {
        max-width: 95%;
    }

    #circulo {
        max-width: 90%;
       
        margin-top: -60px;
    }
}

.stacks {
    width: 100%;
    margin-top: -20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.h1-stacks {
    margin-top: 50px;
    margin-right: 50%;
}

.card-list {
    padding: 10px;
    width: 95%;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border: solid 10px transparent;
    background: rgba(17, 17, 17, 0.6);
    box-shadow: 0 1.1rem 1rem rgba(230, 213, 213, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;

}

.list-card {
    display: inline-block;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-left: 4px;
    margin-right: 4px;
    padding: 3px;
    
   
}

li img {
    width: 81px;

}

.experiencias {
    border: 5px solid transparent;
    width: 620px;
    height: 390px;
    display: inline-block;
    margin-top: 20px;
}

.experiencias h3 {
    color: white;
    font-size: 23px;

}

.experiencias p {
    text-align: justify;
    font-size: 18px;
    width: 600px;
    margin-top: 10px;

}

.experiencias img {
    width: 580px;
    border-radius: 10px;
    border: solid 2px black;
    box-shadow: 0 1.1rem 1rem rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(0.3px);
}

.circulo {
    width: 250px;
    margin-top: 35px;
    margin-left: auto;
    background-image: url("./img/circulo.png");
    animation: load 5s infinite linear;
}